@charset "utf-8";
@font-face {
 font-family:'FZQingKeBenYueSongS-R-GB';
 src:url(./font/fz.TTF);
}
/*头部样式*/
a:hover,a:active,a:focus,a:visited,a:link{text-decoration: none;}
ul {padding:0 ;margin:0;}
ul li{list-style: none;}
.btn:focus{outline:none}
body{font-family: FZQingKeBenYueSongS-R-GB!important;font-size: 15px}
.navbar-default a:hover{color:#43ce7b!important;}
.navbar-default{background:#24262a;border: none}
.container-fluid{margin:0 auto;max-width:1170px;border-color:none;color:white;}
.navbar-default .navbar-nav>li>a {color:white;font-size: 1em}
.navbar-default .navbar-nav>li>a:hover{color:white;}
.navbar-brand{padding: 10px 15px;}
.nav-first{margin-left:2%;}
.navbar-nav .img-circle{border:3px solid #afafaf;max-height: none;width:48px;margin: 0 5px}
.caret{color:#959595;border-top: 6px dashed;margin-left: 5px;}
.join span{font-size:16px;border: 2px solid #43ce7b;border-radius: 4px;color: #43ce7b;padding: 5px 20px;}
@media (max-width: 935px) {
  .nav>li>a {
    padding: 14px 10px;
  }
  .navbar-form .input-group>.form-control{width:70%;}
.navbar{font-size:13px;}
.join span{font-size:12px;}
.navbar-form {padding: 0 0;font-size:12px;}
.nav-first{margin-left:0;}
.join span{padding: 5px 15px;}
}
@media (max-width: 807px) {
	.nav>li>a {
	  padding: 14px 6px;
	}
}
@media (max-width:400px){
    .nav>li{
        float:left!important;
    }
}
.form-control{border-left:0 }
/*搜索框颜色样式*/
.search .icon-search,.search .form-control{color: white;}
.search input::-webkit-input-placeholder {color:white;}
.search .btn-default,.search .form-control{background:#5e5e5e;}
.search .btn-default:hover{border: 1px solid #ccc;}
.search .icon-search{font-size: 19px}
.search .btn{padding: 4px 12px;}
.search .btn:hover,.search .btn:focus{border-color:#ccc;}
.add_destination .icon-search{color:#959595;}
/*foot*/
.foot{width:100%;background:#24262a;text-align:center;padding:2% 0;font-size: 18px}
.foot .col-md-4 ul{text-align: left;}
.foot a{color:#ffffff;}
.foot dl dt{color:#4cd48d;font-size: 20px; margin-bottom:15px;}
.foot dl dd{font-size:15px;margin:5px 0 5px 0; }
.join_us{color:white;border-top: 1px solid #737373;padding-top:1%;margin-top:1%;}
.wchat{color:white;margin-bottom:5%;}
.join_link{text-indent: -9999px;width: 300px;margin:0 auto;}
.join_link a{display:block;height:30px;width:35px;float:left;padding:10px;margin:10px;background: url(./img/link.png) no-repeat;}
.douban{background-position: -67px 0!important}
.renren{background-position: -132px 0!important;width:60px!important;}
.instagram{background-position: -225px 0!important}
.facebook{background-position: -291px 0!important}
@media (max-width:400px) {
.foot dl dd{float:left;}
}
@media (max-width: 400px) {
	.join_link{width:100%;}
	.join_link a{padding:0;margin:0;}
}
@media (max-width: 768px) {
	.nav>li>a {
	  padding: 14px 6px;
	}
	.foot .col-md-4 ul {
      text-align: center;
    }
    .big_bg{margin-top: 50px;}
}
/*三角样式*/
.triangle{display: block;width: 0;height: 0;border: 12px solid transparent;border-bottom: 12px solid #5e5e5e;position: absolute;top: 18px;}
.share_link{padding: 0 10px;position: absolute;background: #5e5e5e;z-index: 1;left:54px;top:-13px;border-radius: 4px;z-index: 10000}
.share em{left:30px;display: block;width: 0;height: 0;border: 12px solid transparent;border-right: 12px solid #5e5e5e;position: absolute;top: 7px;}
.share span{display:none;}
.share:hover span{display:block;}
.share{position: relative;}
.bds_weixin{background: url();}
.bds_tsina{background: url(./img/link.png) no-repeat !important;}
.bds_fbook{background: url(./img/link.png) -291px 0 no-repeat !important;}
/*新加开始*/
#breadcrumb{margin-top:50px;}
.breadcrumb{background-color: white; padding: 8px 0;margin-bottom: 0;}
#breadcrumb .breadcrumb li a{color:#000000;}
.breadcrumb>li+li:before {color: #000000;}
#breadcrumb .breadcrumb .active {color:#42ce7b;}
#breadcrumb .icon-share2{display:block;padding: 8px 5px 8px 0;;font-size: 24px;color:#42ce7b;position: relative;width:34px;}
#breadcrumb .icon-share2:hover{cursor: pointer;}
@media (max-width: 1120px) {
   #breadcrumb .icon-share2{padding-right: 7%}
}
/*免费付费标志*/
.act-type-free:before {
    content: url("./img/icon-act-free.png");
    z-index: 10;
    display: inline;
    position: absolute;
}

.act-type-paid:before {
    content: url("./img/icon-act-paid.png");
    z-index: 10;
    display: inline;
    position: absolute;
}

/*返回顶部*/
#topon {bottom: 55px;right: 52px;position: fixed;z-index: 9999;background: #5e5e5e;width:50px;text-align: center;}
#topon >div{height:50px;width: 50px;font-size: 30px;line-height: 50px;color:white;cursor: pointer;}
#topon .to_top{border-bottom: 2px solid white}
